
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.datepicker {
	z-index: 1151 !important;
}

h1 {
	font-size:70px;
	text-align:center;
}

#upload_button {
	float:none;
	width:calc(100% - 40px);
	margin-bottom:20px;
}

.item {
  width:100%;
  margin-bottom: 20px;
}

.item img {  
  max-width:100%;
  overflow:hidden;
}

.grid-sizer {
		width: 100%;
	}
	.item {
		width:25%;
	}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1 {
		font-size:50px;
		text-align:left;
		margin-left:20px;
	}
	
	#upload_button {
		width:auto;
		float:right;
		margin-right:20px;
	}
	
	.grid-sizer{
		width: 50%;
	}
	.item {
		width:50%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.grid-sizer{
		width: 25%;
	}
	.item {
		width:25%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}