
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.datepicker {
	z-index: 1151 !important;
}

h1 {
	font-size:70px;
	text-align:center;
}

#upload_button {
	float:none;
	width:calc(100% - 40px);
	margin-bottom;
}

.item {
  margin-bottom: 10px;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1 {
		font-size:50px;
		text-align:left;
		margin-left:20px;
	}
	
	#upload_button {
		width:auto;
		float:right;
		margin-right:20px;
	}
}

.photo_on_board {
	width:calc(100% - 20px);
	padding-left:10px;
	padding-right:10px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.photo_on_board {
		width:calc(25% - 20px);
		padding-left:10px;
		padding-right:10px;
	}	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.photo_on_board {
		width:calc(20% - 20px);
		padding-left:10px;
		padding-right:10px;
	}
}